body {
  background-color: grey;
}


#root {
  background-color: grey;
  /* width: 300px;
  height: 400px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  word-wrap: break-word;
}
